:root {
    --white-color: #fff;
    --primary-color: #0f1b4c;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

a:hover {
    color: var(--primary-color) !important;
}

.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    height: 50px;
    min-width: 98px;
    max-width: 170px;
    background: #0f1b4c;
    border-radius: 12px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hide {
    display: none;
}
